html {
	font-family: verdana;
	font-size: 30px;
}
form, main {
	margin: 1rem;
}
input {
	font-family: inherit;
	font-size: inherit;
	background-color: lightpink;
	padding: 1rem;
	border: none;
}
input[type="text"] {
	width: 50%;
}
input[type="submit"] {
	color: white;
}

