.dot {
	background-color: red;
	position: absolute;
	height: 3px;
	width: 3px;
}

p {
	font-family: verdana;
	color: lightpink;
	/* This is an old school way 
	to vertically and horizontally 
	center an element */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}